practice_setu_simple_chat.json
{
  "name": "practice_setu_simple_chat",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -944,
        -224
      ],
      "id": "32b70d99-5544-4a5e-9f0c-f8280a8dbf9b",
      "name": "When chat message received",
      "webhookId": "b7c908eb-ec38-4208-8db3-f7e8c21de7af",
      "notesInFlow": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please answer the user question - {{ $json.chatInput }}.\n\nCreate a JSON output with the following fields:\n{\n\"Question\":<>, \n\"response\": <>\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -720,
        -224
      ],
      "id": "75a0623a-681e-4c87-b77a-0d71df4fbbd9",
      "name": "AI Agent",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "responseFormat": "json_object",
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -880,
        -16
      ],
      "id": "7659b540-7301-4ce6-bbbd-538d8723001f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "FqlNyKUcgqfIlqXY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -736,
        -16
      ],
      "id": "762a8f1e-86a4-4ec8-b108-4775c3b860d6",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "42c3b09e-f6fc-487d-b88c-6bec8cab37fb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e646eb48346a5f9fd648f225b0947f07bfa7f08f9420dbb5fb9d3085e679b792"
  },
  "id": "oJ389xGulE3t6DMZ",
  "tags": []
}